*{
    margin: 0px;
}
body{
    height:95vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://img.freepik.com/premium-photo/thai-balinese-luxury-villa-with-infinity-swimming-pool_41487-865.jpg?size=626&ext=jpg&ga=GA1.1.478868455.1700500365&semt=sph);
    background-size: 100vw 100vh;
}
h1{
    margin-right: 90px;
    margin-bottom: 10px;
}
.div2{
    height:60vh;
    width:30vw;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    background-color: #fff;
    padding-left: 70px;
    margin-left: 800px;
}
.remember{
    margin-right: 90px;
    gap:10px;
}